<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

	<!-- Content Start -->
	<wicket:extend>

		<form wicket:id="formSelect">
			<select wicket:id="ddcLecture">
			</select>
		</form>

		<div wicket:id="dataviewPanel" id="dataviewDiv">
			<table cellspacing="0" class="dataview">
				<thead>
					<tr>
						<th>Vorlesung</th>
						<th>Credit-Points</th>
						<th>Optionen</th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="lectureTable">
						<td><span wicket:id="name">Name Vorlesung</span></td>
						<td><span wicket:id="cp">CreditPoints Vorlesung</span></td>
						<td>
							<a href="#" wicket:id="editLecture"> <img class="icon"
								wicket:id="imageEditLecture" />
							</a> 
							<a href="#" wicket:id="deleteLecture"> <img class="icon"
								wicket:id="imageDeleteLecture" />
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<a href="#" wicket:id="newLecture">Neue Vorlesung anlegen!</a>

	</wicket:extend>

</body>
</html>