<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

	<!-- Content Start -->
	<wicket:extend>

		<form wicket:id="formSelect">
			<select wicket:id="ddcPart">
			</select>
		</form>

		<div wicket:id="dataviewPanel" id="dataviewDiv">
			<table cellspacing="0" class="dataview">
				<thead>
					<tr>
						<th>Studiengang</th>
						<th>Credit-Points</th>
						<th>Optionen</th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="partTable">
						<td><span wicket:id="name">Name Part</span></td>
						<td><span wicket:id="cp">CreditPoints Part</span></td>
						<td>
							<a href="#" wicket:id="editPart"> <img class="icon"
								wicket:id="imageEditPart" />
							</a> 
							<a href="#" wicket:id="deletePart"> <img class="icon"
								wicket:id="imageDeletePart" />
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<a href="#" wicket:id="newPart">Neuen Bereich anlegen!</a>

	</wicket:extend>

</body>
</html>