<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
    xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

	<!-- Content Start -->
    <wicket:extend>
        <div id="main">
    		<h1>
       	 		<span wicket:id="welcome">Das ist die Startseite</span>
	  		</h1>
    	</div>
    </wicket:extend>
    <!-- Content End -->
    
</body>
</html>