<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studhelper</property>
		<property name="hibernate.connection.username">studhelper</property>
		<property name="hibernate.connection.password">studhelper</property>

		<property name="hbm2ddl.auto">update</property>

		<mapping class="de.kunze.studhelper.rest.models.backend.DegreeCourse" />
		<mapping class="de.kunze.studhelper.rest.models.backend.Department" />
		<mapping class="de.kunze.studhelper.rest.models.backend.Lecture" />
		<mapping class="de.kunze.studhelper.rest.models.backend.LectureUser" />
		<mapping class="de.kunze.studhelper.rest.models.backend.LectureUserId" />
		<mapping class="de.kunze.studhelper.rest.models.backend.Modul" />
		<mapping class="de.kunze.studhelper.rest.models.backend.University" />
		<mapping class="de.kunze.studhelper.rest.models.user.User" />
	</session-factory>
</hibernate-configuration>