<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
    xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

	<!-- Content Start -->
    <wicket:extend>
    
    	<form wicket:id="createUniversityForm">
    		Name: <input wicket:id="name" type="text" />
    		<input wicket:id="submitUniversityForm" type="submit" value="Anlegen" />
    	</form>
    	
    	<span wicket:id="feedback"></span>
    	
   </wicket:extend>
    <!-- Content End -->
    
</body>
</html>