<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
    xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>

	<!-- Content Start -->
    <wicket:extend>
    
    	<a href="#" wicket:id="newUniversity">Neue Universität anlegen!</a>
    
    	<div wicket:id="dataviewPanel" id="dataviewDiv">
	    	<table cellspacing="0" class="dataview">
	    		<thead>
	    			<tr>
	    				<th>Universität</th>
	    				<th>Optionen</th>
	    			</tr>
	    		</thead>
			    <tbody>
			       <tr wicket:id="universityTable">
			         <td><span wicket:id="name">Name Uni</span></td>
			         <td>
			         	<a href="#" wicket:id="addDepartment">
			         		<img class="icon" wicket:id="imageAddDepartment" />
			         	</a>
			         
			         	<a href="#" wicket:id="editUniversity">
			         		<img class="icon" wicket:id="imageEditUniversity" />
			         	</a>
			         	<a href="#" wicket:id="deleteUniversity">
			         		<img class="icon" wicket:id="imageDeleteUniversity" />
			         	</a>
			         </td>
			       </tr>
			    </tbody>
			</table>
		</div>

    </wicket:extend>
    
</body>
</html>