<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<wicket:panel>

	<form wicket:id="createUserForm">
    	<table>
    		<tr> 
    			<td>Universität:</td>
    			<td><select wicket:id="ddCUniversity"></select></td>
    		</tr>
    		<tr> 
    			<td>Fakultät:</td>
    			<td><select wicket:id="ddCDepartment"></select></td>
    		</tr>
    		<tr> 
    			<td>Studiengang:</td>
    			<td><select wicket:id="ddCDegreeCourse"></select></td>
    		</tr>
    		<tr>
    			<td>Vorname:</td>
    			<td><input wicket:id="firstname" type="text" /></td>
    		</tr>
    		<tr>
    			<td>Nachname:</td>
    			<td><input wicket:id="lastname" type="text" /></td>
    		</tr>
    		<tr>
    			<td>Username:</td>
    			<td><input wicket:id="username" type="text" /></td>
    		</tr>
    		<tr>
    			<td>Passwort:</td>
    			<td><input wicket:id="password" type="password" /></td>
    		</tr>
    		<tr>
    			<td>Passwort bestätigen:</td>
    			<td><input wicket:id="password2" type="password" /></td>
    		</tr>
    	</table>
    	<input wicket:id="submitUserForm" type="submit" value="Anlegen" />
    </form>
    	
    <span wicket:id="feedback"></span>

</wicket:panel>
</html>