<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de"
    xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
<wicket:head>
    <wicket:link>
        <link href="../../css/Style.css" rel="stylesheet" type="text/css" />
    </wicket:link>
</wicket:head>
</head>
<body>
 
 	<!-- Header Start -->
 	<header>
 		<span wicket:id="header"></span>
 	</header>
 	<!-- Header End -->
 
 	<!-- Main Start -->
 	<div id="main">
		<!-- Add the content here -->
    	<wicket:child/> 
 	</div>
 	<!-- Main End -->
 
 	<!-- Footer Start -->
 	<footer>
		<span wicket:id="footer"></span>
 	</footer>
 	<!-- Footer End -->

</body>
</html>